<div>
    <%= flash[:notice] %>
</div>

<div class="show-contents">
  <p>
      <strong>
      Title:
      </strong>
    <%= @book.title %>
  </p>


  <p>
      <strong>
      Body:
      </strong>
    <%= @book.body %>
  </p>
</div>

<div class="link">
  <span class="edit-button"><%= link_to "Edit", edit_book_path(@book.id) %></span>
  <span>|</span>
  <span class="back-button"><%= link_to "Back", "/books" %></span>
</div>